html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}


main {
  display: grid;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 60px;

  grid-template-columns: repeat(12, 60px);
  column-gap: 40px;
  justify-content: center;
}
